
/* Navigation Section */

.navbar{
    background-color: #625261;
    font-family: 'Montserrat', cursive;
}

.navbar-brand{
    margin: 1%;
    font-family: 'Montserrat', cursive;
    font-weight: bold;
}

.nav-item{
    margin-left: 10px;
}

.nav-link{
    font-weight: 600;
}


.signup{
    background-image: url('images/11.png');
    background-repeat: no-repeat;
    background-size: cover ;
    padding-bottom: 760px;
}

.welcome{
    padding-top: 280px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    padding-left: 150px;
}


.infos{
    margin-left: 1000px;
    padding-top: 270px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.infos h2{
    padding-bottom: 15px;
}

.form-group{
    text-align: left;
}

/* Footer Section */

#footer{
    padding-top: 2%;
    background-color: #625261;
    text-align: center;
    padding-bottom: 2%;
}

.foot-left{
    padding-bottom: 2%;
}

#footer .foot-left a{
    color: #fff;
    font-weight: bold;
    font-family: 'Montserrat', cursive;
}
#footer .foot-right a{
    color:black;
    font-weight: bold;
}